* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family:'Courier New', Courier, monospace;
}
body {
    background-color: black;
}

.center {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#title {
    font-size: 100px;
}

.footer {
    font-size: 20px;
}

.link {
    color: rgb(45, 122, 194);
}
