* {
    padding: 0px;
    padding-bottom: 15px;
    margin: 0px;
    color: white;
    font-family:'Courier New', Courier, monospace;
}
body {
    background-color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    font-size: 100px;
}

.footer {
    font-size: 20px;
}

.link {
    color: rgb(45, 122, 194);
}

#posts {
    margin: auto;
    width: 80%;
    text-align: justify;
}

.puzzle-title {
    font-family: "Merienda", 'Courier New';
    text-align: center;
    font-size: 40px;
}

.puzzle-date {
    font-family: "Merienda", 'Courier New';
    text-align: right;
    padding-right: 100px;
}

.puzzle-img {
    max-width: 50%;
    padding-bottom: 20vh;
}

#overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0px;
}

#items {
    display: block;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 100px;
    margin-left: 5%;
}

#select-box {
    position: relative;
    padding: 0px;
}

#select-box select {
    width: 100%;
    font-size: 24px;
    background-color: gray;
}

#tags {
    padding: 0px;
    background-color: gray;
    position: absolute;
    display: none;
    width: 250px;
    border: 1px rgb(78, 78, 78) solid;
    box-shadow: 0px 2px 5px rgb(78, 78, 78);
}

#tags label {
    display: block;
    padding: 3px 3px;
}

#tags label:hover {
    background-color: white;
}

#tags input {
    margin-right: 8px;
}
