* {
    padding: 0px;
    margin: 0px;
    background-color: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

.footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.link {
    color: rgb(45, 122, 194);
}
